body {

}

h3 {
  color: #27ae60;
}

a:hover {
  color: #7CB342;
}

.button {
  background-color: #27ae60;
  margin: 0;
}

.button:hover {
  background-color: #7CB342;
}

.header {
  background-color: #27ae60;
  padding: 47px 0 30px 0;
  color: #EBF4EF;
}

.header h1 {
  color: #00411B;
}

.header a {
  color: #EBF4EF;
}

.header a:hover {
  color: #001D0C;
}

p {
  font-size: 1.1rem;
}

.main {

}

.button.small {
  font-size: 1rem;
}

.portfolio-item {
  padding: 30px 0 50px 0;
}

.portfolio-item:nth-child(even) {
  background-color: #efefef;
}

.footer {
  background-color: #27ae60;
  padding: 47px 0 30px 0;
  color: #EBF4EF;
}

/* skills */

.badge {
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.ruby {
  background-color: #980d03;
}

.php {
  background-color: #4F5B93;
}

.javascript {
  background-color: #d6ba32;
}

.sql {
  background-color: #316192;
}

.html {
  background-color: #e34c26;
}

.css {
  background-color: #0070ba;
}

.java {
  background-color: #dd4f39;
}
