body {}

iframe {
  max-width: 100%;
}

h2 .small {
  font-size: 1.5rem;
  color: #bbb;
  white-space: nowrap
}

h3 {
  color: #27ae60;
}
a:hover {
  color: #7CB342;
}
.button {
  background-color: #27ae60;
}
@media only screen and (min-width: 40.063em) {
  .button {
    margin: 0;
  }

  .center-children {
      display: flex;
      align-items: center;
  }
}
.button:hover {
  background-color: #7CB342;
}
.header {
  background-color: #27ae60;
  padding: 47px 0 30px 0;
  color: #EBF4EF;
  background: -moz-linear-gradient(-45deg,  #27ae60 0%, #22a75a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#27ae60), color-stop(100%,#22a75a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #27ae60 0%,#22a75a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #27ae60 0%,#22a75a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #27ae60 0%,#22a75a 100%); /* IE10+ */
  background: linear-gradient(135deg,  #27ae60 0%,#22a75a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ae60', endColorstr='#22a75a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.header h1 {
  color: #00411B;
}
.header a {
  color: #EBF4EF;
}
.header a:hover {
  color: #001D0C;
}
.header .button, .footer .button {
  background-color: #00411B;
}
.header .button:hover, .footer .button:hover {
  color: #fff;
  background-color: #219452;
}
p {
  font-size: 1.1rem;
}
.main {}
.button.small {
  font-size: 1rem;
}
.portfolio-item {
  padding: 30px 0 50px 0;
}
.portfolio-item:nth-child(even) {
  background-color: #efefef;
}

.footer {
  background-color: #27ae60;
  padding: 47px 0 30px 0;
  color: #EBF4EF;
}

.footer .message {
  font-size: 2rem;
  margin: 15px 0;
}

.no-margin {
  margin: 0 !important;
}

/* skills */

.badge {
  border-radius: 7px;
  padding: 4px 7px;
  color: #fff;
  display: inline-block;
  margin-bottom: 3px;
  /* default badge color */
  background-color: #219452;
  /* remove pointer until it is actionable */
  /*cursor: pointer; */
  transition: background-color 300ms ease-out;
}
.badge:hover {
  background-color: #00411B;
}
.ruby {
  background-color: #980d03;
}
.php {
  background-color: #4F5B93;
}
.javascript {
  background-color: #d6ba32;
}
.sql {
  background-color: #316192;
}
.html {
  background-color: #e34c26;
}
.css {
  background-color: #0070ba;
}
.java {
  background-color: #dd4f39;
}
